<div class="row vertical-margin">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Maths</h5>
          <p class="card-text">For more details please click on prepar yourself</p>
          <a href="#" class="btn btn-primary">Prepare Yourelf</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chemistry</h5>
          <p class="card-text">For more details please click on prepar yourself</p>
          <a href="#" class="btn btn-primary">Prepare Yourelf</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row vertical-margin">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Physics</h5>
          <p class="card-text">For more details please click on prepar yourself.</p>
          <a href="#" class="btn btn-primary">Prepare Yourelf</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">For more details please click on prepar yourself</p>
          <a href="#" class="btn btn-primary">Prepare Yourelf</a>
        </div>
      </div>
    </div>
  </div>