<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">ECAT</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>ECAT <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/cs.jpeg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>FAST, IBA, NEDUET, NUST</span>
                              <span><i class="icon-table mr-2"></i>1500+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Computer Science</a></h3>
                          <p>An industry that continues to expand is of course the Information Technology (IT) industry. This involves both computer sciences and electrical engineering. Successful graduates may find themselves in Telecommunications, Networking, Software Application Development, or Manufacturing, and additional industries are emerging, such as Application Development, Web Development, Network Security / Cybersecurity, and Cloud Computing, among others. This type of degree has good future potential as most industries rely on information technology. Read more about the computer engineering degree.</p>
                        
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/ee.jpg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"><div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NUST, NED, FAST</span>
                              <span><i class="icon-table mr-2"></i>700+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Electric Engineering</a></h3>
                          <p>An Electrical Engineering Degree involves the study of energy. Energy is available in various forms such as electrical, hydro and natural sources such as wind and solar energy. An Electrical Engineer develops technologies to assist with the practical application of such energies. Electrical Engineers design components for electronic equipment, communications systems, power grids, automobiles, and more. Most employers require an Electrical Engineering Degree at some level to work as an Electrical Engineer, and other licensing or certification requirements may also be required depending on where you live.</p>
                     
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/me.jpeg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NUST, NEDUET</span>
                              <span><i class="icon-table mr-2"></i>400+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Mechanical Engineering</a></h3>
                          <p>A Mechanical Engineering Degree involves the design of mechanical systems. These systems assist industries such as: manufacturing, aeronautics, nanotechnology, nuclear power production, heating and cooling. A primary focus is on thermodynamics, structural analysis, materials science, and kinematics. This is arguably the broadest of all engineering degrees available today and takes in a wide range of engineering disciplines. The Mechanical Engineering Degree has a number of subsets that intermix with electronics and electrical engineering, such as Mechatronics.</p>
                      
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/ce.jfif);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>160+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Civil Engineering</a></h3>
                          <p>Civil Engineering involves the development of infrastructure such as buildings, railways, roads construction, bridges and general construction project management. Civil Engineers also play an important role in rebuilding projects, such as in the event of a natural disaster. Civil Engineers may work in the private or public sector at any level. This is a very broad engineering degree. Environmental Engineering, Structural Engineering and Marine Engineering are all specialties of Civil Engineering.</p>
                    
                      </div></a>
                  </div>

                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/chem.jfif);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Chemical Engineering</a></h3>
                          <p>As the name implies, Chemical Engineering is the practical application of chemistry. This type of engineering degree involves technology that utilizes chemical reactions to solve problems. A chemical engineer creates new products, including: Cosmetics, foods, pharmaceuticals, beverages, and cleaners from raw chemicals. this is a very broad engineering degree and allows for a number of different forms of employment. It is also one of the most challenging degrees available.</p>
                        
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/auto.jpg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Automotive Engineering</a></h3>
                          <p>As the name implies, automotive engineering involves the design and production of vehicles. The automotive industry is hugely diverse and requires engineers to work in areas such as mechanical design, performance, manufacturing, electrical engineering and systems management.</p>
                    
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/aero.jpg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr">   <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>80+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Aerospace Engineering</a></h3>
                          <p>An Aerospace Engineering Degree involves the study of air and space travel. This might include military aircraft design and development, along with commercial airline design and satellite technology. The terms Aerospace and Aeronautical are both often used interchangeably, yet there are key differences between the two. Aeronautical Engineering relates to craft that remain in our atmosphere, while Aerospace Engineering refers to aircraft that venture outside our atmosphere. Most programs in the United States have changed their names from Aeronautical to Aerospace over the past couple decades, but there are still some programs that go by the historical name.</p>
                       
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/robo.jpg);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"><div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>75+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Mechatronics Engineering</a></h3>
                          <p>A blend of mechanical engineering and electronics engineering, Mechatronics, or Mechatronics Engineering, is an emerging area for hybrid engineers. Nearly all mechanical equipment in this day and age is operated with a mix of electronics and software, all based on computers and technology. Mechatronics engineers help bridge that gap, and have intrinsic knowledge of electrical, electronics, and mechanical engineering. Some more experienced Mechatronics Engineers also have computer, hardware, and software engineering experience as well.</p>
                          
                      </div></a>
                  </div>
              </div>
          </div>
      </section>


      
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
       <!--  <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Recent Blog</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-5 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe Us!</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>