<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">MCAT</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>MCAT <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/medicine.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Medicine</a></h3>
          <p>Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
     
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/dentistry.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Dentistry</a></h3>
          <p>All dentists in the United States undergo at least three years of undergraduate studies, but nearly all complete a bachelor's degree. This schooling is followed by four years of dental school to qualify as a "Doctor of Dental Surgery" (DDS) or "Doctor of Dental Medicine" (DMD).</p>
        
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/podi.jfif);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Podiatry</a></h3>
          <p>Podiatry or podiatric medicine is a branch of medicine devoted to the study, diagnosis, and medical and surgical treatment of disorders of the foot, ankle, and lower extremity.</p>
        
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/chiro.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Chiropracty</a></h3>
          <p>Chiropractic is a pseudoscientific complementary and alternative medicine that is concerned with the diagnosis and treatment of mechanical disorders of the musculoskeletal system, especially the spine</p>
        </div>
        </a>
      </div>

      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/pharma.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Pharmacy</a></h3>
          <p>Graduates of pharmacy degrees work right at the heart of human healthcare, taking on roles relating to the design and development of new treatments, prescription and care management, and advising on the range of medical options available. Read our guide to studying pharmacy at university, including an overview of common course topics, specializations and career paths.</p>
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/vet.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Veterinary Medicine</a></h3>
          <p>Veterinary medicine is the branch of medicine that deals with the prevention, control, diagnosis and treatment of disease, disorder and injury in animals and along with this, it also deals with animal rearing, husbandry, breeding, research on nutrition and product development.</p>
     
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/opto.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Optometry</a></h3>
          <p>Optometry is a health care profession that involves examining the eyes and applicable visual systems for defects or abnormalities as well as the correction of refractive error with glasses or contact lenses and treatment of eye diseases</p>
      
        </div></a>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/derma.jpg);"></div>
        <a routerLink="/MCAT-Subjects" class="clr"><div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
            <span><i class="icon-table mr-2"></i>100+ seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Dermatology</a></h3>
          <p>Dermatology is the branch of medicine dealing with the skin. It is a speciality with both medical and surgical aspects. A dermatologist is a specialist doctor who manages diseases related to skin, hair and nails and some cosmetic problems.</p>
        
        </div></a>
      </div>
    </div>
  </div>
</section>


<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
     <!--  <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Recent Blog</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-5 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Subscribe Us!</h2>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="form-control submit px-3">
            </div>
          </form>
        </div>
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</footer>
