<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">About Us</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>


<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
          <div class="img" style="background-image: url('../../assets/images/about.jpg'); "></div>
        </div>
        <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          <h2 class="mb-4">What We Offer</h2>
          <p>We aim to provide the best means of preperation for entry tests in you desired university so that you may achieve your dreams and reach the epitome of success</p>
          <div class="row mt-5">
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                <div class="text pl-3">
                  <h3>Verified Course Material</h3>
                  <p>The essential course material that is up to date and that which is alligned with the outlines of the universities</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                <div class="text pl-3">
                  <h3>Admission Criteria</h3>
                  <p>All the information you will need to apply to your desired university nad to judge yourself where you stand</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                <div class="text pl-3">
                  <h3>Certified Teachers</h3>
                  <p>We take pride in our esteemed registered experts that will help you achieve your goals.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                <div class="text pl-3">
                  <h3>Practise Tests</h3>
                  <p>Practise makes a man perfect. Hence whatever you learn, you can take practise tests to see how much you retain and learn faster.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                <div class="text pl-3">
                  <h3>Creative Lessons</h3>
                  <p>Digital knowledge is the future and so we aim to provide you with the best of tools to help aid you in your quest and pave the road of knowledge.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                <div class="text pl-3">
                  <h3>Mock Entry Tests</h3>
                  <p>To take the final entry test you should be fully prepared, and what better way than to have already tasted the flavour of the Entry test. This way you should be used to the Entry test pattern when you appear for it.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('../../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-2 d-flex">
        <div class="col-md-6 align-items-stretch d-flex">
          <div class="img img-video d-flex align-items-center" style="background-image: url('../../assets/images/about-2.jpg');">
            <div class="video justify-content-center">
              <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                <span class="ion-ios-play"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
          <h2 class="mb-4">unIQ.ED</h2>
          <p>Education is the most powerful weapon which you can use to change the world. It is a paradisematic country. After the completion of FSC/ A-level, students try to take admission in their desired universities by being prepared for an entry test. In Pakistan, there are numerous centers that provide preparation for the students for ECAT/MCAT/BCAT. They do nothing more than providing past papers and paper patterns and give small lectures. Students have to study hard even after taking admission in centers. Fees of these centers are too high they have different packages and divide entry test preparation into two sections i.e. ECAT for Govt. universities like NED, UET etc. and ECAT for private universities e.g. NUST, FAST.</p>
          <p>Our aim is to break that chain which pulls money from the pockets of the parents and provide the bare minimum. In order to break that chain we need a platform where students may get complete guidelines about the criteria of admission of their desired university with course outline, mockup test, practice test, video lectures on time management and stress handling during the entry tests</p>
        </div>
      </div>	
      <div class="row d-md-flex align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="row d-md-flex align-items-center">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number count" data-number="8">200</strong>
                  <span>Certified Teachers</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="401">0</strong>
                  <span>Registered Students</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="24">0</strong>
                  <span>Fields Offered</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="50">0</strong>
                  <span>Sucessful Admissions</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  




  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <h2 class="mb-4">Student Says About Us</h2>
          <p>Your feedback is extremely valuable for us</p>
        </div>
      </div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="slider-align carousel slide "  data-ride="carousel" >
            <div class="carousel-inner">    
                <div class=" carousel-item active">
                <div class="testimony-wrap d-flex">
                    <div class="user-img mr-4" style="background-image: url(../../assets/images/teacher-1.jpg)">
                    </div>
                    <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                    
                    </span>
                    <p>Great Paltform</p>
                    <p class="name">Danish</p>
                    <span class="position">Father</span>
                    </div>
                </div>
                </div>
                <div class=" carousel-item ">
                <div class="testimony-wrap d-flex">
                    <div class="user-img mr-4" style="background-image: url(../../assets/images/teacher-2.jpg)">
                    </div>
                    <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                       
                    </span>
                    <p>Extremely helpful</p>
                    <p class="name">Ifrah</p>
                    <span class="position">Mother</span>
                    </div>
                </div>
                </div>
                <div class=" carousel-item ">
                <div class="testimony-wrap d-flex">
                    <div class="user-img mr-4" style="background-image: url(../../assets/images/teacher-3.jpg)">
                    </div>
                    <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                        
                    </span>
                    <p>Great learning oppurtunity</p>
                    <p class="name">Maha</p>
                    <span class="position">Mother</span>
                    </div>
                </div>
                </div>
                <div class=" carousel-item ">
                <div class="testimony-wrap d-flex">
                    <div class="user-img mr-4" style="background-image: url(../../assets/images/teacher-4.jpg)">
                    </div>
                    <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                     
                    </span>
                    <p>Fast response rate</p>
                    <p class="name">Taleaa</p>
                    <span class="position">Mother</span>
                    </div>
                </div>
                </div>
                <div class=" carousel-item ">
                <div class="testimony-wrap d-flex">
                    <div class="user-img mr-4" style="background-image: url(../../assets/images/teacher-1.jpg)">
                    </div>
                    <div class="text ml-2">
                    <span class="quote d-flex align-items-center justify-content-center">
                      
                    </span>
                    <p>Great to see people working for the betterment of our childrens' education</p>
                    <p class="name">Madiha</p>
                    <span class="position">Mother</span>
                    </div>
                </div>
                </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </section>



      <section class="ftco-gallery">
      <div class="container-wrap">
          <div class="row no-gutters">
                  <div class="col-md-3 ">
                      <a href="../../assets/images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/images/course-1.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="../../assets/images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/images/image_2.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="../../assets/images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/images/image_3.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ftco-animate">
                      <a href="../../assets/images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/images/image_4.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
      </div>
      </div>
  </section>

      
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
       <!--  <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Recent Blog</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-5 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Subscribe Us!</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>
  

 

  