<h1>Registered Students</h1>


<div class="row log-search">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
       
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div><input class="form-control"  [(ngModel)]="term" type="text" placeholder="Search" aria-label="Search"></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
    <div class="generate"><a routerLink="Registration"><div>
      
    </div>
    
    </a></div>
    </div>
</div>




<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Board</th>
        <th>subject</th>
    
        
        
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let borrowers of borrowerData  |filter:term">
        <td>{{borrowers.name}}</td>
        <td>{{borrowers.email}}</td>
        <td>{{borrowers.board}}</td>
        <td>{{borrowers.subject}}</td>
       
      
      </tr>
    
      

      
      
    
    </tbody>
  </table>
