<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">BCAT</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>BCAT <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/acc.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr">  <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Accounting</a></h3>
                          <p>An accounting degree will provide a foundation for specialized accounting careers, as well as many other related careers. Accounting careers typically involve analyzing and utilizing financial information in order to evaluate a business' financial position</p>
                        
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/entre.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Entrepreneurship</a></h3>
                          <p>Entrepreneurship can broadly be defined as the creation or extraction of value. With this definition, entrepreneurship is viewed as change, which may include other values than simply economic</p>
                         
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/fb.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr">  <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Finance and Banking</a></h3>
                          <p>BSc. Developed by academics at LSE, this degree will help you understand the structure and functioning of financial markets and the way in which financial intermediaries and institutions operate</p>
                         
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/hr.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Human Resources</a></h3>
                          <p>Human resource management. Human resource management (HRM or HR) is the strategic approach to the effective management of people in a company or organization such that they help their business gain a competitive advantage. It is designed to maximize employee performance in service of an employer's strategic objectives.</p>
                        
                      </div></a>
                  </div>

                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mis.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr">  <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Management Information Systems</a></h3>
                          <p>Students also learn how to manage various information systems so that they best serve the needs of managers, staff and customers. MIS students learn how to create systems for finding and storing data and they learn about computer databases, networks, computer security and lots more.</p>
                     
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mark.jfif);"></div>
                      <a routerLink="/ECAT-Subjects" class="clr"><div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Marketing</a></h3>
                          <p>If you're interested in business, psychology or social studies then this is a degree for you. Marketing covers everything from advertising to market research, so it appeals to a wide variety of students. Marketing benefits society in general by improving people's lives in two ways.</p>
                        
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mana.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Management</a></h3>
                          <p>Management (or managing) is the administration of an organization, whether it is a business, a not-for-profit organization, or government body.Social scientists study management as an academic discipline, investigating areas such as social organization and organizational leadership.</p>
                         
                      </div></a>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/lsc.jpg);"></div>
                      <a routerLink="/BCAT-Subjects" class="clr"> <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Logistics and Supply Chain Management</a></h3>
                          <p>Supply Chain Management & Logistics is a subject that deals with sourcing raw materials and components required by companies to manufacture their products. People who work in Logistics focus on improving the overall performance of the supply chain, to ensure the fastest possible delivery.</p>
                         
                      </div></a>
                  </div>
              </div>
          </div>
      </section>

      
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
       <!--  <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Recent Blog</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-5 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe Us!</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>