<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Registered Universities</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Universities <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

      
      <section class="ftco-section bg-light">
          <div class="container">
              <div class="row">
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/fast.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">10</span>
                <span class="mos">July</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">FAST NUCES</a></h3><p>Founded as a Federally Chartered University in July 2000, the National University of Computer and Emerging Sciences is a premiere University of Pakistan.Research wings of the university are well recognized, nationally and internationally.</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="https://www.nu.edu.pk/" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/nust.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">14</span>
                <span class="mos">June</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">NUST</a></h3><p>The Pakistan Navy Engineering College, also called PNS Jauhar, is a military college operated by the Pakistan Navy</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="http://www.nust.edu.pk/INSTITUTIONS/Schools/SEECS/Pages/default.aspx" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/ned.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">26</span>
                <span class="mos">October</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">NEDUET</a></h3>
              <p>The Nadirshaw Eduljee Dinshaw University of Engineering and Technology, commonly known as NED University of Engineering and Technology, is a premier public university located in the urban area of Karachi, Sindh, Pakistan</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="https://www.neduet.edu.pk/" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/iba.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">26</span>
                <span class="mos">June</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">IBA - Institute of Business Administration</a></h3>
              <p>The Institute of Business Administration, Karachi; is an independent university in Karachi, Sindh, Pakistan. Founded in 1955, it is one of the oldest business school outside North America.</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="https://www.iba.edu.pk/" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/aga.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">16</span>
                <span class="mos">June</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">Aga Khan University</a></h3>
              <p>The Aga Khan University is a pioneering institution of higher education that works to improve quality of life in the developing world and beyond.</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="https://www.aku.edu/Pages/home.aspx" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/diw.jpg');">
                              <div class="meta-date text-center p-2">
                <span class="day">17</span>
                <span class="mos">May</span>
                <span class="yr">2020</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a href="#">DOW University</a></h3>
              <p>Founded in December 2003, the Dow University of Health Sciences (DUHS) has been developing tradition of excellence in education, research and community service. DUHS has educated and trained more than 8,000 students and residents from 20 academic institutes. The University has nearly 3,000 employees, including approximately 850 faculty members at present.</p>
              <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="https://www.duhs.edu.pk/duh/duh/" class="btn btn-primary">Explore More <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                      <a href="#" class="mr-2">Apply</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
          </div>
      </section>
      
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
       <!--  <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Recent Blog</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-5 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Subscribe Us!</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>