<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Programs Offered</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Programs Offered <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

 <!--Engineering--> 
  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/cs.jpeg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>FAST, IBA, NEDUET, NUST</span>
                              <span><i class="icon-table mr-2"></i>1500+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Computer Science</a></h3>
                          <p>An industry that continues to expand is of course the Information Technology (IT) industry. This involves both computer sciences and electrical engineering. Successful graduates may find themselves in Telecommunications, Networking, Software Application Development, or Manufacturing, and additional industries are emerging, such as Application Development, Web Development, Network Security / Cybersecurity, and Cloud Computing, among others. This type of degree has good future potential as most industries rely on information technology. Read more about the computer engineering degree.</p>
                     
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/ee.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NUST, NED, FAST</span>
                              <span><i class="icon-table mr-2"></i>700+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Electric Engineering</a></h3>
                          <p>An Electrical Engineering Degree involves the study of energy. Energy is available in various forms such as electrical, hydro and natural sources such as wind and solar energy. An Electrical Engineer develops technologies to assist with the practical application of such energies. Electrical Engineers design components for electronic equipment, communications systems, power grids, automobiles, and more. Most employers require an Electrical Engineering Degree at some level to work as an Electrical Engineer, and other licensing or certification requirements may also be required depending on where you live.</p>
                     
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/me.jpeg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NUST, NEDUET</span>
                              <span><i class="icon-table mr-2"></i>400+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Mechanical Engineering</a></h3>
                          <p>A Mechanical Engineering Degree involves the design of mechanical systems. These systems assist industries such as: manufacturing, aeronautics, nanotechnology, nuclear power production, heating and cooling. A primary focus is on thermodynamics, structural analysis, materials science, and kinematics. This is arguably the broadest of all engineering degrees available today and takes in a wide range of engineering disciplines. The Mechanical Engineering Degree has a number of subsets that intermix with electronics and electrical engineering, such as Mechatronics.</p>
                          
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/ce.jfif);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>160+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Civil Engineering</a></h3>
                          <p>Civil Engineering involves the development of infrastructure such as buildings, railways, roads construction, bridges and general construction project management. Civil Engineers also play an important role in rebuilding projects, such as in the event of a natural disaster. Civil Engineers may work in the private or public sector at any level. This is a very broad engineering degree. Environmental Engineering, Structural Engineering and Marine Engineering are all specialties of Civil Engineering.</p>
                         
                      </div>
                  </div>

                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/chem.jfif);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Chemical Engineering</a></h3>
                          <p>As the name implies, Chemical Engineering is the practical application of chemistry. This type of engineering degree involves technology that utilizes chemical reactions to solve problems. A chemical engineer creates new products, including: Cosmetics, foods, pharmaceuticals, beverages, and cleaners from raw chemicals. this is a very broad engineering degree and allows for a number of different forms of employment. It is also one of the most challenging degrees available.</p>
                      
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/auto.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Automotive Engineering</a></h3>
                          <p>As the name implies, automotive engineering involves the design and production of vehicles. The automotive industry is hugely diverse and requires engineers to work in areas such as mechanical design, performance, manufacturing, electrical engineering and systems management.</p>
                       
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/aero.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>80+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Aerospace Engineering</a></h3>
                          <p>An Aerospace Engineering Degree involves the study of air and space travel. This might include military aircraft design and development, along with commercial airline design and satellite technology. The terms Aerospace and Aeronautical are both often used interchangeably, yet there are key differences between the two. Aeronautical Engineering relates to craft that remain in our atmosphere, while Aerospace Engineering refers to aircraft that venture outside our atmosphere. Most programs in the United States have changed their names from Aeronautical to Aerospace over the past couple decades, but there are still some programs that go by the historical name.</p>
                      
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/robo.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>NEDUET</span>
                              <span><i class="icon-table mr-2"></i>75+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Mechatronics Engineering</a></h3>
                          <p>A blend of mechanical engineering and electronics engineering, Mechatronics, or Mechatronics Engineering, is an emerging area for hybrid engineers. Nearly all mechanical equipment in this day and age is operated with a mix of electronics and software, all based on computers and technology. Mechatronics engineers help bridge that gap, and have intrinsic knowledge of electrical, electronics, and mechanical engineering. Some more experienced Mechatronics Engineers also have computer, hardware, and software engineering experience as well.</p>
                      
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <!--Medical--> 
  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/medicine.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Medicine</a></h3>
                          <p>Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
                
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/dentistry.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Dentistry</a></h3>
                          <p>All dentists in the United States undergo at least three years of undergraduate studies, but nearly all complete a bachelor's degree. This schooling is followed by four years of dental school to qualify as a "Doctor of Dental Surgery" (DDS) or "Doctor of Dental Medicine" (DMD).</p>
                     
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/podi.jfif);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Podiatry</a></h3>
                          <p>Podiatry or podiatric medicine is a branch of medicine devoted to the study, diagnosis, and medical and surgical treatment of disorders of the foot, ankle, and lower extremity.</p>
                         
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/chiro.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Chiropracty</a></h3>
                          <p>Chiropractic is a pseudoscientific complementary and alternative medicine that is concerned with the diagnosis and treatment of mechanical disorders of the musculoskeletal system, especially the spine</p>
                        
                      </div>
                  </div>

                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/pharma.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Pharmacy</a></h3>
                          <p>Graduates of pharmacy degrees work right at the heart of human healthcare, taking on roles relating to the design and development of new treatments, prescription and care management, and advising on the range of medical options available. Read our guide to studying pharmacy at university, including an overview of common course topics, specializations and career paths.</p>
                        
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/vet.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Veterinary Medicine</a></h3>
                          <p>Veterinary medicine is the branch of medicine that deals with the prevention, control, diagnosis and treatment of disease, disorder and injury in animals and along with this, it also deals with animal rearing, husbandry, breeding, research on nutrition and product development.</p>
                       
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/opto.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Optometry</a></h3>
                          <p>Optometry is a health care profession that involves examining the eyes and applicable visual systems for defects or abnormalities as well as the correction of refractive error with glasses or contact lenses and treatment of eye diseases</p>
                      
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/derma.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>Aga Khan, DOW</span>
                              <span><i class="icon-table mr-2"></i>100+ seats</span>
                              <span><i class="icon-calendar mr-2"></i>5 Years</span>
                          </p>
                          <h3><a href="#">Dermatology</a></h3>
                          <p>Dermatology is the branch of medicine dealing with the skin. It is a speciality with both medical and surgical aspects. A dermatologist is a specialist doctor who manages diseases related to skin, hair and nails and some cosmetic problems.</p>
             
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <!--BBA--> 
  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/acc.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Accounting</a></h3>
                          <p>An accounting degree will provide a foundation for specialized accounting careers, as well as many other related careers. Accounting careers typically involve analyzing and utilizing financial information in order to evaluate a business' financial position</p>
                      
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/entre.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Entrepreneurship</a></h3>
                          <p>Entrepreneurship can broadly be defined as the creation or extraction of value. With this definition, entrepreneurship is viewed as change, which may include other values than simply economic</p>
                     
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/fb.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Finance and Banking</a></h3>
                          <p>BSc. Developed by academics at LSE, this degree will help you understand the structure and functioning of financial markets and the way in which financial intermediaries and institutions operate</p>
                        
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/hr.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Human Resources</a></h3>
                          <p>Human resource management. Human resource management (HRM or HR) is the strategic approach to the effective management of people in a company or organization such that they help their business gain a competitive advantage. It is designed to maximize employee performance in service of an employer's strategic objectives.</p>
                    
                      </div>
                  </div>

                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mis.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Management Information Systems</a></h3>
                          <p>Students also learn how to manage various information systems so that they best serve the needs of managers, staff and customers. MIS students learn how to create systems for finding and storing data and they learn about computer databases, networks, computer security and lots more.</p>
                       
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mark.jfif);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Marketing</a></h3>
                          <p>If you're interested in business, psychology or social studies then this is a degree for you. Marketing covers everything from advertising to market research, so it appeals to a wide variety of students. Marketing benefits society in general by improving people's lives in two ways.</p>
                      
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/mana.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Management</a></h3>
                          <p>Management (or managing) is the administration of an organization, whether it is a business, a not-for-profit organization, or government body.Social scientists study management as an academic discipline, investigating areas such as social organization and organizational leadership.</p>
                    
                      </div>
                  </div>
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url(../../assets/images/lsc.jpg);"></div>
                      <div class="text pt-4">
                          <p class="meta d-flex">
                              <span><i class="icon-user mr-2"></i>IBA</span>
                              <span><i class="icon-table mr-2"></i>100+</span>
                              <span><i class="icon-calendar mr-2"></i>4 Years</span>
                          </p>
                          <h3><a href="#">Logistics and Supply Chain Management</a></h3>
                          <p>Supply Chain Management & Logistics is a subject that deals with sourcing raw materials and components required by companies to manufacture their products. People who work in Logistics focus on improving the overall performance of the supply chain, to ensure the fastest possible delivery.</p>
                     
                      </div>
                  </div>
              </div>
          </div>
      </section>

      
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">D70 Block  F, North Nazimabad, Karachi, Sindh, Pakistan</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 330 8548034</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">unIQ.ED@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
       <!--  <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2">Recent Blog</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-5 d-flex">
              <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> June 27, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs Offered</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Universities</a></li>
              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Expert Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe Us!</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>
