<section class="home-slider owl-carousel carousel slide   " data-ride="carousel">
  <div class="slider-item carousel-item active" style="background-image:url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate">
        <h1 class="mb-4">Admission requires all the right tools</h1>
        <p>To get in to your desired university, one needs to be fully prepared by having all the study material, practise tests, mock test and expert help when required.</p>
        <p><a *ngIf="signin==true"routerLink="/Signin" class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
      </div>
    </div>
    </div>
  </div>

  <div class="slider-item carousel-item " style="background-image:url(../../assets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate">
        <h1 class="mb-4">Dreams are free</h1>
        <p>If you can dream it, we can aid you in getting into you desired field in your desired university</p>
        <p><a *ngIf="signin==true"routerLink="/Signin"  class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="">
    <div class="container-wrap">
        <div class="row no-gutters">
  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
    <div class="media block-6 d-block text-center">
      <div class="icon clr d-flex justify-content-center align-items-center">
            <span class="flaticon-teacher"></span>
      </div>
      <div class="media-body p-2 mt-3 clr">
        <h3 class="heading">Certified Teachers</h3>
        <p>We take pride in our esteemed registered experts that will help you achieve your goals.</p>
      </div>
    </div>      
  </div>
  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
    <div class="media block-6 d-block text-center">
      <div class="clr icon d-flex justify-content-center align-items-center">
            <span class="flaticon-reading"></span>
      </div>
      <div class="clr media-body p-2 mt-3">
        <h3 class="heading">Practise Test</h3>
        <p>Practise makes a man perfect. Hence whatever you learn, you can take practise tests to see how much you retain and learn faster.</p>
      </div>
    </div>    
  </div>
  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
    <div class="media block-6 d-block text-center">
      <div class="icon clr d-flex justify-content-center align-items-center">
            <span class="flaticon-books"></span>
      </div>
      <div class="clr media-body p-2 mt-3">
        <h3 class="heading">PDFs &amp; Videos</h3>
        <p>Digital knowledge is the future and so we aim to provide you with the best of tools to help aid you in your quest and pave the road of knowledge.</p>
      </div>
    </div>      
  </div>
  <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
    <div class="media block-6 d-block text-center">
      <div class="icon clr d-flex justify-content-center align-items-center">
            <span class="flaticon-diploma"></span>
      </div>
      <div class="clr media-body p-2 mt-3">
        <h3 class="heading">Field Selection</h3>
        <p>Pursue the field in which your interest is. This will make education fun and success an assurance. We are here to serve you to decide your interest.</p>
      </div>
    </div>      
  </div>
</div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
        <div class="img" style="background-image: url('../../assets/images/about.jpg'); "></div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">What We Offer</h2>
        <p>We aim to provide the best means of preperation for entry tests in you desired university so that you may achieve your dreams and reach the epitome of success</p>
        <div class="row mt-5">
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
              <div class="text pl-3">
                <h3>Verified Course Material</h3>
                <p>The essential course material that is up to date and that which is alligned with the outlines of the universities</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
              <div class="text pl-3">
                <h3>Admission Criteria</h3>
                <p>All the information you will need to apply to your desired university nad to judge yourself where you stand</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
              <div class="text pl-3">
                <h3>Certified Teachers</h3>
                <p>We take pride in our esteemed registered experts that will help you achieve your goals.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
              <div class="text pl-3">
                <h3>Practise Tests</h3>
                <p>Practise makes a man perfect. Hence whatever you learn, you can take practise tests to see how much you retain and learn faster.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
              <div class="text pl-3">
                <h3>Creative Lessons</h3>
                <p>Digital knowledge is the future and so we aim to provide you with the best of tools to help aid you in your quest and pave the road of knowledge.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
              <div class="text pl-3">
                <h3>Mock Entry Tests</h3>
                <p>To take the final entry test you should be fully prepared, and what better way than to have already tasted the flavour of the Entry test. This way you should be used to the Entry test pattern when you appear for it.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('../../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div class="col-md-6 align-items-stretch d-flex">
        <div class="img img-video d-flex align-items-center" style="background-image: url('../../assets/images/about-2.jpg');">
          <div class="video justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
              <span class="ion-ios-play"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
        <h2 class="mb-4">unIQ.ED</h2>
        <p>Education is the most powerful weapon which you can use to change the world. It is a paradisematic country. After the completion of FSC/ A-level, students try to take admission in their desired universities by being prepared for an entry test. In Pakistan, there are numerous centers that provide preparation for the students for ECAT/MCAT/BCAT. They do nothing more than providing past papers and paper patterns and give small lectures. Students have to study hard even after taking admission in centers. Fees of these centers are too high they have different packages and divide entry test preparation into two sections i.e. ECAT for Govt. universities like NED, UET etc. and ECAT for private universities e.g. NUST, FAST.</p>
        <p>Our aim is to break that chain which pulls money from the pockets of the parents and provide the bare minimum. In order to break that chain we need a platform where students may get complete guidelines about the criteria of admission of their desired university with course outline, mockup test, practice test, video lectures on time management and stress handling during the entry tests</p>
      </div>
    </div>	
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="row d-md-flex align-items-center">
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number count" data-number="8">200</strong>
                <span>Certified Teachers</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="401">0</strong>
                <span>Registered Students</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="24">0</strong>
                <span>Fields Offered</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Sucessful Admissions</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>Available</span> Fields</h2>
        <p>Choose from the fields below, what suits you the best and is right up your interest ally</p>
      </div>
    </div>	
    <div class="row">
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/course-1.jpg);"></div>
        <div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>IBA</span>
            <span><i class="icon-table mr-2"></i>380 seats</span>
            <span><i class="icon-calendar mr-2"></i>4 Years</span>
          </p>
          <h3><a href="#">Commerce</a></h3>
          <p>Business administration is the administration of a business. It includes all aspects of overseeing and supervising business operations. From the point of view of management and leadership, it also covers fields that include accounting, finance, project management and marketing.</p>
          <p><a *ngIf="signin==true"routerLink="/Signin" class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
        </div>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/course-2.jpg);"></div>
        <div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>IBA,NED,FAST</span>
            <span><i class="icon-table mr-2"></i>1500 seats</span>
            <span><i class="icon-calendar mr-2"></i>4 Years</span>
          </p>
          <h3><a href="#">Social Sciences</a></h3>
          <p>Social science is the branch of science devoted to the study of human societies and the relationships among individuals within those societies. The term was formerly used to refer to the field of sociology, the original "science of society", established in the 19th century. </p>
          <p><a *ngIf="signin==true"routerLink="/Signin" class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
        </div>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/course-3.jpg);"></div>
        <div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>FAST,NUST,NED,IBA</span>
            <span><i class="icon-table mr-2"></i>4000+ seats</span>
            <span><i class="icon-calendar mr-2"></i>4 Years</span>
          </p>
          <h3><a href="#">Engineering</a></h3>
          <p>Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings</p>
          <p><a *ngIf="signin==true"routerLink="/Signin" class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
        </div>
      </div>
      <div class="col-md-3 course ftco-animate">
        <div class="img" style="background-image: url(../../assets/images/course-4.jpg);"></div>
        <div class="text pt-4">
          <p class="meta d-flex">
            <span><i class="icon-user mr-2"></i>Aga Khan,DOW</span>
            <span><i class="icon-table mr-2"></i>500 seats</span>
            <span><i class="icon-calendar mr-2"></i>5 Years</span>
          </p>
          <h3><a href="#">Medical</a></h3>
          <p>Schooling Required: After earning an undergraduate degree, the Doctor of Medicine (M.D.) requires 4 years of medical school, followed by 3-8 years of internship and residency depending on specialization chosen. Some physicians pursue the Doctor of Osteopathic Medicine (D.O.) degree. D.O.s emphasize the body’s musculoskeletal system, preventive medicine, and holistic patient care and often work in family and general practices, although they may be found in many specialties.</p>
          <p><a *ngIf="signin==true"routerLink="/Signin" class="btn btn-primary px-4 py-3 mt-3">Sign In</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">Certified Teachers</h2>
        <p>We take pride in our esteemed registered experts that will help you achieve your goals.</p>
      </div>
    </div>	
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/Danish.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Danish Ali</h3>
            <span class="position mb-2">Biology Teacher</span>
            <div class="faded">
              <p>Dr.Danish from AKU at your service.</p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/Mujji.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Mujtaba Tawakkal</h3>
            <span class="position mb-2">English Teacher</span>
            <div class="faded">
              <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/Sarim.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Sarim</h3>
            <span class="position mb-2">Finance Teacher</span>
            <div class="faded">
              <p>President LES available for help</p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/Uzair.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Uzair Ahmed</h3>
            <span class="position mb-2">Teacher</span>
            <div class="faded">
              <p>Proud teacher of 46 students who got admitted in IBA this year</p>
              <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(../../assets/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">
          <div class="heading-section heading-section-white ftco-animate mb-5">
            <h2 class="mb-4">Request Information About Courses</h2>
            <p>If you require any additional information about any course, we would be happy to assist you in your endeavour. Just leave us your details and rquest and we will get back to you as soon as possible</p>
          </div>
          <form action="#" class="appointment-form ftco-animate">
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Select Your Field Of Interest</option>
                      <option value="">Engineering</option>
                      <option value="">Finance</option>
                      <option value="">Medical</option>
                      <option value="">Accounting</option>
                      <option value="">Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group ml-md-4">
                <input type="submit" value="Request Details" class="btn btn-primary py-3 px-4">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>